@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.title {
  font-size: clamp(var(--fs-600), calc(1rem + 5vw), 5rem);
}

h1,
.h1 {
  --font-weight: 500;
}

h2,
.h2 {
  --font-weight: 500;
}

h3,
.h3 {
  --font-weight: 500;
}

h4,
.h4 {
  --font-weight: 500;
}

strong {
  --font-weight: 500;

  font-weight: 400;
}

a {
  color: var(--clr, var(--clr-primary-400));

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-black);
  }
}